* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック",
        "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.2em;
}

header {
    padding: 30px 4% 10px;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;

    nav {
        margin: 0 0 0 auto;
    }
    h1 {
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    a {
        text-decoration: none;
        color: whitesmoke;
    }
    .sns-nav {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            li {
                margin-right: 15px;
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
}

.fade-in-bottom {
    opacity: 0;
    animation-name: fadein-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadein-bottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.para {
    //パララックス
    position: relative;
    background-image: url("/img/jerry-zhang-bcW3NDWHMwc-unsplash.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
        color: #fff;
        font-size: 80px;
        text-align: center;
        position: fixed;
        width: 100%;
        top: 40%;
    }
}

.contents {
    position: relative;
    z-index: 1;
    height: 500px;
    background:rgba($color: #2c2a2a, $alpha: 0.8);
    font-size: 30px;
    padding: 50px 100px;
    text-align: center;
    h2 {
        text-align: center;
    }
    ul {
        list-style: none;
    }
}

form {

}

footer {
    p {
        text-align: center;
        font-size: 14px;
        margin-bottom: 60px;
        color: rgba(128, 128, 128, 0.63);
    }
}
